# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Секреты
.env
secret.env

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Данные
postgres_data/
redis_data/
*.pdf
*.docx
